.MainMenu-item {
  text-decoration: none;
  color: #333;
}
.MainMenu-item:hover {
  text-decoration: underline;
}

.MainMenu-item:not(:last-of-type) {
  margin-right: 20px;
}

.MainMenu-item_active {
  color: #e67e21;
  text-decoration: underline;
}
