.CurrentTask {
  padding: 10px;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
  box-shadow: -1px -1px 5px #e6e6e6;
}
.CurrentTask-wrapper {
  margin: 0 auto;
  width: 1170px;
  display: flex;
}

.CurrentTask-title,
.CurrentTask-time {
  border-radius: 100px;
  padding: 5px 10px;
}

.CurrentTask-title {
  background: #ddd;
  flex-basis: 100%;
  margin-right: 10px;
}
.CurrentTask-time {
  background: #d0021b;
  min-width: 100px;
  text-align: center;
  color: #fff;
}
